body{
    margin:0;
}

#text{
    color:white;
    font-size: 90px;
    
    position: absolute;
    width: 100%;
    top: 150px;
    text-align: center;
}
#lb{
    position: relative;
    bottom: 200px;
}
#learn{
    
    text-align: center;
    border: 1px solid whitesmoke;
    margin: auto;
    bottom: 300px;
   border-style: solid;
    width: 150PX;
    color: whitesmoke;
    padding: 10px;
   
   font-size: 18px;
   border-radius: 5px;
}
/* what is happening */
#wih{
    font-weight: bold;
    font-size: 45px;
    
    position: relative;
    top: 65%;
    text-align: center;
    margin: auto;

    
}
#hr1{margin: auto;
    width: 25%;
}
/* pix1code */
#pix1{
    padding:0px;
    width: 400px;
    display: inline-block;
    position: relative;
    top: -150px;
    
    left: -80px;

    
}
#pix2{
    padding:0px;
    width: 400px;
    display: inline-block;
    position: relative;
    top: -150px;
    left:50px;
    text-align: left;

    
}
/* pix3code */
#pix3{
    padding:0px;
    width: 400px;
    display: inline-block;
    position: relative;
   top: 95px;
    left: 200px;

    
}
.two{display: inline-block;
    vertical-align: text-top;
     font-size: 20px;
     text-align: left;
}
#date1{
    width: 100px;
    position: relative;
    left: 300px;
    opacity: 0.8;
}
#date2{
    width: 100px;
    position: relative;
    left: 300px;
    opacity: 0.8;
}
#date3{
    width: 100px;
    position: relative;
    left: 150px;
    opacity: 0.8;
}
#pix
{
    position: relative;
    text-align: center;
}

#text2{color:wheat;
    font-size: 50px;
    
    position: absolute;
    width: 100%;
    top: 1800px;
    text-align: center;
}
#learn2{font-size: 20px;
    
    
    color:white;
    
    border-radius: 5px;
    position: relative;
    bottom: 150px;
    width: 2in;
    margin: auto;
    padding: 10px 0px;
    
    text-align: center;
    border:1px solid white;
}
    
/* our latest work */
#olw{
    color: black;
    font-weight: bold;
    position: relative;
    
    text-align: center;
    font-size: 40px;
}
#hr2{
    position: relative;
    
    width: 25%;
}
#pix4{
    padding:0px;
    width: 400px;
    display: inline-block;
    position: relative;
   top: 1.5in;
   right: 5in;
    

}
.four{
    font-size: 20px;
    text-align: center;
    font-weight:bold;
}
#pix5{
    padding:0px;
    width: 400px;
    display: inline-block;
    position: relative;
    bottom:7.7in;
    left: 500px;

}
#pix6{
    padding:0px;
    width: 400px;
    display: inline-block;
    position: relative;
   bottom: 7.7in;
    left: 500px;

}
#bottompic{
    text-align: center;

}
#portfolio{color: white;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    background-color: turquoise;
    
    margin: auto;
    position: absolute;
    width: 200px;
    top:9in;
    left: 1in;
    }
   
    #logos{
width: 1900px;
height: 500px;
background-color:whitesmoke;
filter: grayscale(20%);
text-align: center;
position: relative;
right: 8in;
bottom: 5in;


}
#brands{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 1cm;
}
#bg3{
    position: absolute;
    display: block;
    right: -7.6in;
    
    
    

}
#owp{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
    width: 800px;
    position: absolute;
    
    right: -1.8in;
}
#finaltext{
    text-align: left;
    color:whitesmoke;
    width:900px;
    font-size: 25px;
    
}
@media  screen and (max-width: 1062px) 
{
    
    #top{
        width:100%;
        
        
    }
    #text{
        
        font-size: 40px;
        text-align: center;
        
    }
    #learn{
        width: 100px;
    }
    #wih{
     width: 100%;
    
    }
    #hr1{
        width: 100%;
    }
    #pix1{
        width: 100%;
        
        
        
        position: absolute;
        
         
    }
    #pix{
        display: inline-block;
    }



}
   
   
    
    